/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
public/uploads/
public/service-images/
public/service-category-images/
public/staff-document/
public/staff-images/
public/partner-images/
public/review-images/
public/review-videos/
public/cash-collections-images/
public/service-category-icons/
public/slider-images/
public/quote-images/
public/AppData.json
public/AppHomeData.json
public/AppServicesData.json
public/AppCategories.json
public/AppGroupData.json
public/AppSubTitles.json
public/AppTimeSlotsData.json
public/AppDriverData.json
public/sitemap.xml
public/order-attachment/
public/app-browsing-icon/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
package-lock.json
composer.lock
