.list-group-item {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    background-color: #fff;
    border-color: #333;
}


.list-group-item.active {
    background-color: #b4b3b3 !important;
    color: #fff !important;
    border-color: #b4b3b3 !important;
}

.badge-available {
    background-color: #28a745;
}

.badge-unavailable {
    background-color: #dc3545;
}

.badge {
    color: white
}

.scroll-div {
    height: 330px;
    /* Set the desired height */
    overflow: hidden;
    /* Hide overflow */
    overflow-y: scroll;
    /* Enable vertical scrolling */
}

input[type=radio]:checked+.staff-label {
    border: 1px solid green;
}

.shadow-image {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Adjust the shadow properties as needed */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.shadow-image:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Adjust the shadow properties as needed */
}

.staff-label:hover {
    border: 1px solid #ccc; /* Add your desired border properties */
}

.staff-label {
    border: 1px solid transparent; /* Add your desired border properties */
}